<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <ul class="header-ul">
                <li class="header-ul__listItems"><a href="/login" class="active">Home</a> </li>
                <li class="header-ul__listItems"><a href="/">Chat</a></li>
                <li class="header-ul__listItems"><a href="/contact-us">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <form onsubmit="localStorage.setItem(`username`, document.getElementById(`userId`).value)" action="/" method="POST" class="main-form">
        <div class="form-input">
            <input type="text" id = "userId" name="userId" placeholder="Enter userName" class="input-field">
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>